<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="color:rgb(26, 110, 219); background-color: cornsilk; text-align:center; font-size:100px">
   <div>Thêm món ăn</div>
        <form method = "POST">
                <input type="text" name="name" style="color:rgb(45, 25, 216); font-size: 30px ">
                <input type="number" name ="price" style="color:rgb(22, 148, 28); font-size: 30px">
                <button>    <strong style="color:darkblue; font-size: 30px">Submit</strong>    </button>
                <img src="http://thumb.connect360.vn/unsafe/550x0/imgs.emdep.vn/Share/Image/2017/01/18/com-bento-30-160526978.jpg" width="900px" height="480px" alt="">
        
            </form>
</body>
</html>